body {
    background: grey;
    color: white;
}

.main-content {
    width: 1000px;
    margin: 0 auto;
}

.u {
    text-decoration: underline;
}

.mets {
    background: orange;
}

.dodgers {
    background: blue;
}

.cubs {
    
}

.pittsburgh {
    background: yellow;
}

.cardinals {
    background: red;
}

.table-container {
    background: black;
}
